@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* @font-face {
  font-family: "Aperçu Regular";
  src: url("/fonts/Aperçu-Regular.woff2") format("woff2"),
    url("/fonts/Aperçu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
} */

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

body {
  /* @apply bg-[#AAEEC4] font-sans text-black; */
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: apercu, sans-serif;
  font-weight: bold;
  font-style: normal;
}
